<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="applicable-device" content="pc,mobile">
        <meta name="renderer" content="webkit">
        <meta name="theme-color" content="#28a745">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>电脑端测试</title>
        <link rel='stylesheet' href='https://cdn.bootcss.com/bootstrap/4.0.0-beta/css/bootstrap.min.css?ver=beta' type='text/css' media='all' />
    </head>
    <body>
    <div class="container">


    <div>
        <h1>My Information</h1>
        <div class="row">
            <div class="row-md-6">
                <div class="row">
                    <div class="col-md-4 text-right"><span>用户名:</span></div>
                    <div class="col-md-8 text-left">hutong236</div>
                </div>
                <div class="row">
                    <div class="col-md-4 text-right"><span>邮箱:</span></div>
                    <div class="col-md-8 text-left">hutong236@sohu.com</div>
                </div>
                <div class="row">
                    <div class="col-md-4 text-right"><span>生日:</span></div>
                    <div class="col-md-8 text-left">Jan. 20, 2018</div>
                </div>
                <div class="row">
                    <div class="col-md-4 text-right"><span>电话:</span></div>
                    <div class="col-md-8 text-left">13333333333</div>
                </div>
                <div class="row">
                    <div class="col-md-4 text-right"><span>毕业学习:</span></div>
                    <div class="col-md-8 text-left">工 在革</div>
                </div>
                <div class="row">
                    <div class="col-md-4 text-right"><span>工作单位:</span></div>
                    <div class="col-md-8 text-left">左在城城城工</div>
                </div>
                <div class="row">
                    <div class="col-md-4 text-right"><span>职业:</span></div>
                    <div class="col-md-8 text-left">工 在</div>
                </div>
                <div class="row">
                    <div class="col-md-4 text-right"><span>地址:</span></div>
                    <div class="col-md-8 text-left">在堪震荡震荡地</div>
                </div>
                <div class="row">
                    <div class="col-md-4 text-right"><span>个人介绍:</span></div>
                    <div class="col-md-8 text-left">奇才在堪魂牵梦萦 城震荡地</div>
                </div>
            </div>
            <div class="row-md-6">
               <div style="margin-right:100px">
                   <img name="user_face" src="/static/images/test.png" class="img-circle" width="270px" id="my_phone">
               </div>
                <div style="margin-right:100px">
                    <button class="btn btn-primary btn-lg" id="upload_image" onclick="upload_image_lager()">upload my photo</button>
                </div>

            </div>
        </div>
        <a href="/account/edit-my-information/"><button class="btn btn-primary btn-lg">edit my information</button></a>
    </div>


    </div>
        <script type='text/javascript' src='https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js?ver=3.2.1'></script>
        <script type='text/javascript' src='https://cdn.bootcss.com/popper.js/1.11.1/umd/popper.min.js?ver=1.11.1'></script>
        <script type='text/javascript' src='https://cdn.bootcss.com/bootstrap/4.0.0-beta/js/bootstrap.min.js?ver=beta'></script>
    </body>
</html>