<!DOCTYPE html>
{% load staticfiles %}
<html lang="zh">
    <head>
        <meta charset="utf-8" />
        <title>Simple example - Editor.md examples</title>
        <link rel="stylesheet" href="{% static 'editor/examples/css/style.css' %}" />
        <link rel="stylesheet" href="{% static 'editor/css/editormd.css' %}" />
        <link rel="shortcut icon" href="https://pandao.github.io/editor.md/favicon.ico" type="image/x-icon" />
    </head>
    <body>
        <div id="layout">
            <header>
                <h1>Simple example</h1>
            </header>
            <div>
                {{ content_editormd1 }}

            </div>
        </div>

    </body>
</html>