{% extends "base.html" %}

{% block title %}register user{% endblock %}

{% block content %}

    <div class="row text-center vertical-middle-sm">
        <h1>Register</h1>
        <p>If you are a user,Login,please </p>
        <p>or register!</p>
        <form class="form-horizontal" action="." method="post">
            {% csrf_token %}
            <div class="form-control">
                <label for="{{ form.username.id_for_label }}" class="col-md-5 control-label">Username:</label>
                <label class="col-md-6 text-left" >{{ form.username }}</label>
            </div>
            <div class="form-control">
                <label for="{{ form.email.id_for_label }}" class="col-md-5 control-label">Email:</label>
                <label class="col-md-6 text-left" >{{ form.email }}</label>
            </div>
            <div class="form-control">
                <label for="{{ form.password.id_for_label }}" class="col-md-5 control-label" >Password:</label>
                <label class="col-md-6 text-left" >{{ form.password }}</label>
            </div>
            <div class="form-control">
                <label for="{{ form.password.id_for_label }}" class="col-md-5 control-label" >Confirm Password:</label>
                <label class="col-md-6 text-left" >{{ form.password2 }}</label>
            </div>
            <div class="form-control">
                <label for="{{ profile.birth.id_for_label }}" class="col-md-5 control-label" >Birth Date:</label>
                <label class="col-md-6 text-left">{{ profile.birth }}</label>
            </div>
            <div class="form-control">
                <label for="{{ profile.phone.id_for_label }}" class="col-md-5 control-label">Phone:</label>
                <label class="col-md-6 text-left" >{{ profile.phone }}</label>
            </div>
            <input type="submit" class="btn btn-primary btn-lg" value="RESISTER">


        </form>


    </div>
{% endblock %}